.menu {
  background-color: var(--primary);
}

.menu__box {
  text-align: center;
  padding-top: 100px;
}

.menu__title h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px;
  color: rgb(230, 0, 51);
}

.menu__title p {
  font-size: 3rem;
  padding: 10px;
  color: rgb(249, 189, 73);
}

.menu__card {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  margin-top: 100px;
}
