.menu {
  background-color: var(--primary);
}

.menu__box {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu__title h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px;
  color: rgb(230, 0, 51);

  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.menu__title p {
  font-size: 3rem;
  padding: 10px;
  color: rgb(249, 189, 73);
}

.menu__card {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 100px;
}
