.navBar {
  background-color: var(--dark);
  color: var(--secondary);
  z-index: 1;
  width: 100%;
  position: fixed;
}

.navBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease-in;
}

.navBar__logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.navBar__menu {
  display: flex;
  flex-wrap: wrap;
}

.navBar__link {
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 10px;
  margin-left: 20px;
  color: var(--secondary);
  border-radius: 10px;
}

.navBar__link:hover {
  text-decoration: line-through;
  font-weight: 700;
  color: var(--dark);
  background-color: var(--secondary);
}

.offer {
  background-color: #fff;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  font-size: 1.8rem;
}

.navBar__toggleButton {
  display: none;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 800px) {
  .navBar__menu {
    display: none;
  }

  .navBar-container.active {
    flex-direction: column;
    height: 335px;
  }

  .navBar__menu.active {
    display: flex !important;
    display: inline;
    flex-direction: column;
    margin: 20px 0;
  }

  .navBar-container.active .navBar__link {
    margin-left: 0;
    margin: 10px 0;
    font-size: 2rem;
    text-align: center;
  }

  .navBar__toggleButton {
    display: initial;
  }
}
