.offers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers__title h1 {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px;
  color: rgb(230, 0, 51);

  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
