.whyCoseUsCard {
  width: 100%;
}

.whyCoseUsCard__top {
  display: flex;
  width: 100%;
  align-items: center;
}

.whyCoseUsCard__top-left {
  width: 100px;
  height: 100px;
}

.whyChoseUs__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.whyCoseUsCard__top-right p {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 10px;
  text-transform: capitalize;
}

.whyCoseUsCard__bottom p {
  font-size: 2rem;
  padding-left: 10px;
}
